<v-app-bar app flat>
  <v-icon>mdi-radar</v-icon>
  <v-toolbar-title class="title font-weight-light">{{ title }}</v-toolbar-title>
  <v-icon
    class="activity-icon"
    :color="online.value ? 'success' : 'error'">
    mdi-circle-medium
  </v-icon">

  <v-menu bottom left v-if="connectionLogs.length">
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        v-on="on">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>

    <v-list>
      <v-list-item
        v-for="(item, i) in menuItems"
        :key="i"
        @click="item.action()"
      >
        <v-list-item-title>{{ item.label }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>

</v-app-bar>