<div>
  <v-list-item v-if="!connectionLogs.length">
    <v-list-item-content>
      <v-list-item-title class="body-2">No internet interruption captured</v-list-item-title>
    </v-list-item-content>
  </v-list-item>

  <v-fade-transition group>
    <v-list v-for="date in logsDates" subheader :key="date">
      <v-subheader>{{ getDate(date) }}</v-subheader>
      <v-fade-transition group>
        <template
          v-for="(log, index) in sortLogs(date)">
          <v-list-item
            class="list-item"
            :key="log.date">
            <v-list-item-icon>
              <v-icon v-if="log.online">mdi-wifi</v-icon>
              <v-icon v-else>mdi-wifi-off</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-if="log.online">Back Online!</v-list-item-title>
              <v-list-item-title v-else>Went Offline…</v-list-item-title>
              <v-list-item-subtitle v-text="formatDate(log.date)"></v-list-item-subtitle>
            </v-list-item-content>
            <v-btn x-small text icon>
              <v-icon @click="clearEntries(log.date)">mdi-close</v-icon>
            </v-btn>
          </v-list-item>

          <v-divider
            inset
            :key="`divider'${log.date}`" />
        </template>
      </v-fade-transition>
    </v-list>
  </v-fade-transition>

</div>